/* SearchBar 컴포넌트 스타일 */
.mid-logo{
  /* 자식 요소(.child)를 중앙 정렬하기 */
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  border: 1px solid #44EAC5;
  border-radius: 80px;
  padding: 5px;
  background-color: #fff;
  width: 350px;
  margin-bottom: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
}

.search-bar button {
  background-color: #44EAC5;
  color: #fff;
  border: none;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  width: 50px;
  height: 30px;
}

/* Add this CSS to your stylesheets */
.container {
  display: flex;
}

.left-panel {
  width: 40px;
  background-color: blue; /* Set your desired background color */
}

.main-content {
  flex: 1;
  padding: 20px; /* Add padding or other styles as needed */
}

/*여기서부터 PathFinder관련*/
.pathfinder-page {
  display: flex;
}
.left-sidebar {
  width: 70px;
  height: 100vh;
  background-color: #ffffff;
  display: grid; /* CSS Grid를 사용하도록 설정 */
  grid-template-rows: repeat(auto-fill, minmax(62px, 1fr)); /* 행 크기를 설정 */
}

.sidebar-item {
  padding: 5px;
  background-color: #ffffff;
  justify-content: center;
}

.sidebar-item.active {
  padding: 8px;
  background-color: #ddfafa;
  color: white;
}

.middle-content {
  flex: 3;
  background-color: #ddfafa;
  
}

.right-content {
  flex: 8;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
}
.button-style{
  margin-left: 5px;
  margin-right:5px;
  height:40px;
  font-size:14px;
  background-color: #c1ffed; /* 배경 색상을 변경 */
  border-radius: 8px; /* 테두리의 모서리를 둥글게 설정 */
}
/* Add styles for other elements as needed */
.input-row {
  display: flex;
  flex-direction: column; /* 내부 요소를 세로로 배열 */
  margin-top: 5px;
  margin-bottom: 5px;
}
.convenience-facilities {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 40px;
}
.conv-fac{
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 50px;
}
.shortest-path-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px;
  border: 1px solid black;
  
}
.mark-options{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
}